.founderPart {
  margin: 216px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #d9d9d9;
  border-radius: 42px;
  position: relative;
  padding: 112px 0px 0px 88px;
}

.header_text {
  font-size: 82px;
  line-height: 98px;
  font-weight: 400px;
  color: white;
  -webkit-text-stroke: 1.2px #000;
  line-height: 1em;
}
.header_text:hover {
  color: var(--dark);
  transition-duration: 0.5s;
}
.header_details {
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  margin-top: 38px;
  margin-right: 60px;
}

.middlepart {
  margin: 50px 0px 0 48px;
}

.middletext {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #6a6a6a;
}

.mediaimg {
  margin-top: 25px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.mediaimg img {
  width: 30px;
  height: auto;
}

.linkedin {
  margin-bottom: 5px;
}

.founder_img_part {
  background-image: url("../../assets/image/Founder/background_star.png");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
}

.founder_img_part img {
  width: 400px;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .founderPart {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding: 0px;
    margin: 100px auto;
  }
  .header_text {
    font-size: 50px;
    text-align: center;
    margin-top: 5px;
  }
  .header_details {
    font-size: 22px;
    padding: 0 20px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
  }
  .middletext {
    text-align: center;
    font-size: 20px;
  }
  .middlepart {
    margin: 0px;
    padding: 20px;
  }
  .mediaimg {
    justify-content: center;
  }
  .founder_img_part img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
}
