.mainpart {
  padding: 180px 0;
  position: relative;
}

.upperText {
  position: absolute;
  top: 0;
}

.upperText span:nth-child(1) {
  font-weight: 400;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: 0.05em;
  color: var(--dark);
}

.upperText span:nth-child(2) {
  font-weight: 400;
  font-size: 148px;
  line-height: 110%;
  color: white;
  -webkit-text-stroke: 2px var(--dark);
}

.upperText span:nth-child(2):hover {
  color: var(--dark);
  transition-duration: 0.5s;
}

.slidercontainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.slidercontainer h2 {
  font-weight: 400;
  font-size: 48px;
}

.slidercontainer img {
  width: 518px;
  height: auto;
}

.tagpart {
  display: flex;
}

.tagpart p {
  font-weight: 500;
  font-size: 20px;
  line-height: 95%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  padding: 14px 24px;
  border-radius: 23px;
  margin-right: 15px;
  margin-top: 10px;
}
.tagpart p:nth-child(1) {
  background-color: #80fb8d;
}
.tagpart p:nth-child(2) {
  background-color: #6587ff;
}
.tagpart p:nth-child(3) {
  background-color: #ff5975;
}

@media only screen and (max-width: 768px) {
  .mainpart {
    padding: 50px 0 50px 25px;
  }
  .slidercontainer {
    display: inline-block;
    margin-top: 180px;
  }

  .slidercontainer img {
    width: 300px;
    height: auto;
  }
  .upperText span:nth-child(1) {
    font-size: 50px;
  }
  .upperText span:nth-child(2) {
    font-size: 65px;
    line-height: 50%;
  }
  .slidercontainer h2 {
    font-size: 30px;
  }
  .tagpart p {
    font-size: 10px;
    padding: 8px 15px;
    border-radius: 18px;
    margin-right: 5px;
    margin-top: 5px;
  }
}
